# Python cache files
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables file
.env

# MacOS specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache
